<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/main.css">
        <link href="/css/main.css">
        <link rel="shortcut icon" href="/assets/owl.ico" type="image/x-icon" />
        <title>{{metadata.title or title}}</title>
    </head>
    <body>
        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{title}}</a></h1>
            <a class="extra" href="/">home</a>
            <a class="extra" href="/categories.html">categories</a>
            <a class="extra" href="/archive.html">archive</a>
            <div class="follow">follow <a href="/rss.xml"><img src="/assets/feed-icon-28x28.png"></img></a></div>
          </div>
{% if metadata.categories %}
    <div class="header">
        <div class="categories">Categories</div>
        {% for category in metadata.categories %}
            <a class="extra" href="/categories.html#{{category}}">{{category}}</a>
        {% endfor %}
    </div>
{% endif %}
{% if metadata.post %}<div class="post">{% endif %}
{{body}}
{% if metadata.post %}</div>{% endif %}
          <div class="footer">
            <div class="contact">
              <p>
                Andrew Noyes<br />
                Software Engineer<br />
                anoyes34@gmail.com
              </p>
            </div>
            <div class="contact">
              <p>
              <a href="https://github.com/atn34">github.com/atn34</a><br />
                <a href="https://twitter.com/atn34">twitter.com/atn34</a><br />
              </p>
            </div>
          </div>
        </div>
    </body>
</html>
