{% extends "default.html" %}

{% block scripts %}
<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
{% endblock %}

{% block content %}
<h1>{{metadata.title}}</h1>

{% if metadata.categories %}
<div class="meta-title">Categories</div>
<ul>
    {% for category in metadata.categories %}
    <li><a class="extra" href="/categories.html#{{category}}">{{category}}</a></li>
    {% endfor %}
</ul>
{% endif %}

{{ super() }}
{% endblock %}

{% block header %}
{% endblock %}
